html,
body,
#svelte {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: Twemoji;
  src: url(../fonts/Twemoji.ttf)
}

body {
  font-family: 'Rubik', sans-serif, Twemoji;
  overflow: hidden;
}

.emote {
  position: relative;
  display: inline-block;
  width: 32px;
}

.emote img {
  position: absolute;
  top: -1.25rem;
  left: 2px;
}

.team svg {
  height: 1.125rem;
}